{{ if property_type or bedrooms or bathrooms or size_sq_ft }}
<ul class="showcase-card__specs" aria-label="Property details">
    {{ if property_type }}
    <li class="showcase-card__spec">
        <span class="showcase-card__spec-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                <path d="M3 10.5 12 3l9 7.5" />
                <path d="M5 9.5V20h14V9.5" />
                <path d="M10 20v-6h4v6" />
            </svg>
        </span>
        <span class="showcase-card__spec-label">{{ property_type }}</span>
    </li>
    {{ /if }}
    {{ if bedrooms }}
    <li class="showcase-card__spec">
        <span class="showcase-card__spec-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                <path d="M3 9h18" />
                <path d="M5 9v11" />
                <path d="M19 9v11" />
                <path d="M6 14v-2a2 2 0 0 1 4 0v2" />
                <path d="M14 14v-2a2 2 0 0 1 4 0v2" />
                <path d="M6 14h12v6H6z" />
            </svg>
        </span>
        <span class="showcase-card__spec-label">{{ bedrooms }} bedroom{{ unless bedrooms == 1 }}s{{ /unless }}</span>
    </li>
    {{ /if }}
    {{ if bathrooms }}
    <li class="showcase-card__spec">
        <span class="showcase-card__spec-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                <path d="M8 4h8v4a4 4 0 0 1-8 0V4z" />
                <path d="M12 8v11" />
                <path d="M7 21h10" />
                <path d="M9 21c0-1.5 1.34-3 3-3s3 1.5 3 3" />
            </svg>
        </span>
        <span class="showcase-card__spec-label">{{ bathrooms }} bathroom{{ unless bathrooms == 1 }}s{{ /unless }}</span>
    </li>
    {{ /if }}
    {{ if size_sq_ft }}
    <li class="showcase-card__spec">
        <span class="showcase-card__spec-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                <rect x="6" y="6" width="12" height="12" rx="1" />
                <path d="M6 10H4M6 6V4" />
                <path d="M18 6h2M18 10v-2" />
                <path d="M18 18h2M18 14v2" />
                <path d="M6 18H4M6 14v2" />
            </svg>
        </span>
        <span class="showcase-card__spec-label">{{ size_sq_ft }} sq ft</span>
    </li>
    {{ /if }}
</ul>
{{ /if }}
