<div class="showcase-card flex flex-col" data-id="{{ id }}">
    <div class="swiper-container showcase-card-slider mb-3" data-id="{{ id }}">
        <div class="swiper-wrapper">
            {{ images }}
                <div class="swiper-slide">
                    <a class="js-grid-gallery__content" data-id="{{ id }}" href="{{ glide:id width="1600" quality="80" format="webp" }}">
                    <img src="{{ glide:id width="900" quality="80" format="webp" }}" alt="{{ title }}" loading="lazy" decoding="async" />
                    </a>
                </div>
            {{ /images }}
        </div>
    </div>
    <div class="swiper-container showcase-card-thumbs" data-id="{{ id }}">
        {{ if images | count > 1 }}
        <div class="swiper-wrapper">
            {{ images }}
                <div class="swiper-slide">
                    <img src="{{ glide:id width="300" quality="75" format="webp" }}" alt="{{ title }}" loading="lazy" decoding="async" />
                </div>
            {{ /images }}
        </div>
        {{ else }}
            <div class="swiper-wrapper" style="height: 224px;">
                <div class="swiper-slide empty-slide">
                </div>
            </div>
        {{ /if }}
    </div>
<div class="flex flex-col justify-between" style="flex-grow: 1;">
    <a href="{{ url }}">
    <div class="showcase-card__heading mt-8">
        <h4 class="heading-4 uppercase text-brand-secondary font-bold">
            {{ title }}
        </h4>
        <h6 class="heading-6 text-brand-primary uppercase font-bold">
            {{ subtitle }}
        </h6>
        <p class="p font-bold">
            {{ caption }}
        </p>
    </div>
    {{ partial:components/showcasecard/showcase-card-specs }}
    <h4 class="heading-4 uppercase text-brand-secondary font-bold my-4 md:my-8">
        {{ unit_price_range }}
    </h4>
    <p class="p showcase-card__description js-showcase-card__description" data-id="{{ id }}">
        {{ description }}
    </p>
    <div class="p showcase-card__expand anchor anchor--primary js-showcase-card__expand" data-id="{{ id }}">
    </div>
    </a>
    <div class="showcase-card__buttons">
        <a class="my-4 inline-flex w-full" href="{{ url }}">
            {{ partial:components/button/button button_text="View development" }}
        </a>
    </div>
</div>
</div>
